@using PagedList.Mvc
@model PagedList.PagedList<InterfaceGW2Api.Models.SimpleItemViewModel>
@{
    ViewBag.Title = "Items";
}

<h2 style="text-align: center">Items</h2>
<div style="margin-top: 15px; text-align: center">
    @using (Html.BeginForm("Items", "Search", FormMethod.Get))
    {
        @Html.TextBox(("SearchString"));
        <input type="submit" value="Search" class="btn btn-primary btn-xs" style="margin-left: 5px; margin-bottom: 5px;"/>
    }
</div>
<div style="text-align: center">
    @Html.PagedListPager(Model, page => Url.Action("Items", "Search",
        new {page, pageSize = Model.PageSize}))
    Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount Items
</div>
<div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
    @foreach (var item in Model)
    {
        @Html.ActionLink(item.Name, "SingleItem", "Item", 
       new {itemId = item.Id}, 
       new {@class = "btn btn-info btn-xs", @style = "margin: 2px;"})
    }
</div>

